<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="courses">
        <li ng-repeat="course in courses['objects'] | filter:query | orderBy:orderProp"
            class="thumbnail course-listing">
          <a href="#/courses/{{course.id}}">{{course.id}}</a>
          <p>{{course.centerlat}}</p>
          <p>{{course.centerlon}}</p>
          <p>{{course.map_layer}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
