<!--<div ng-controller="CourseDetailCtrl" >-->
<div>
  <a href="/routeless-client/index.html#/courses">Courses</a>
    <p>Course #{{course.id}}</p>
    <p>Created by: {{course.creator}}<p>
<!--    <p>Center Latitude: {{course.centerlat}}</p>
    <p>Center Longitude: {{course.centerlng}}</p>-->
    <p>Map Layer: {{course.map_layer}}</p>
    <select ng-model="course.map_layer">
      <option value="osm">OpenStreetMap</option>
      <option value="googleHybrid">Google Hybrid</option>
      <option value="googleTerrain">Google Terrain</option>
    </select>
    <!--<p>Zoom: {{course.zoom}}</p>-->
    <button ng-click="submit()">Save Course</button>
    <button ng-click="add_check_point()">New Checkpoint</button>
    <table>
      <tr>
        <th>Lat</th>
        <th>Lon</th>
        <th>Title</th>
        <th>Description</th>
        <th></th>
      </tr>
      <tr ng-repeat="cp in course.check_points">
        <td>{{cp.lat | number}}</td>
        <td>{{cp.lng | number}}</td>
        <td><input ng-model="cp.title"></td>
        <td><input ng-model="cp.message"></td>
        <td><button ng-click="deleteCP(cp)">Delete</button></td>
      </tr>
    </table>
    <input ng-model="course.lat">
    <input ng-model="course.lng">
    <leaflet width="100%" height="480px" layers="layers" center="course" markers="course.check_points" event-broadcast="events"></leaflet>
    <!--<div class="google-map" rl-map=""></div>-->
</div>
