<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      
    <a href="/routeless-client/index.html#/new_user">New User</a>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="users">
        <li ng-repeat="user in users['objects'] | filter:query | orderBy:orderProp"
            class="thumbnail user-listing">
          <a href="#/users/{{user.id}}">{{user.username}}</a>
          <p>{{user.email}}</p>
          <button ng-click="login(user)">Login</button>
        </li>
      </ul>

    </div>
  </div>
</div>
